*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f5f6fa;
}
.container{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.img img{
  padding: 0px 30px;
}

@media (min-width:360px) and (max-width:767px){
  .img img{
    width: 80%;
  }
}

